.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top:    -20px;
}

#banner h1 {
  font-size:      60px;
  line-height:    1;
  letter-spacing: -1px;
}

.hero-unit {
  position:    relative;
  padding:     30px 15px;
  color:       #F5F5F5;
  text-align:  center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background:  #4393B9;
}

.footer {
  text-align: center;
  padding:    30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.videogular-container {
  width:    100%;
  height:   320px;
  margin:   auto;
  overflow: hidden;
}

.videogular-container.audio {
  height: 50px;
}

.btn-group-vertical-jr {
  overflow-x: hidden;
  overflow-y: scroll;
  height:     200px;
  width:      100%;
  padding:    0 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .videogular-container {
    //    width: 728px;
    height: 409.5px;

    .audio {
      //    width: 728px;
      height: 50px;
    }
  }
}

@media (min-width: 1200px) {
  .videogular-container {
    //    width: 1170px;
    height: 658.125px;
  }

  .videogular-container.audio {
    //    width: 1170px;
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    //    width: 940px;
    height: 528.75px;
  }

  .videogular-container.audio {
    //    width: 940px;
    height: 50px;
  }
}
