<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-controller="MainCtrl as controller">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Music Search</h1>

      <input type="search" ng-model="search" placeholder="Search...">

      <p/>

      <div id='videoPlayer'>
        <videogular vg-theme="controller.config.theme.url"
                    class="videogular-container audio"
                    vg-player-ready="controller.onPlayerReady($API)">
          <vg-media vg-src="controller.config.sources"></vg-media>

          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
            </vg-volume>
          </vg-controls>
        </videogular>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" id="content">
        <div class="btn-group-vertical btn-group-vertical-jr" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button ng-repeat="name in names | filter:filterBySearch"
                    class="btn btn-default"
                    type="submit"
                    ng-click="playName(name)">{{name}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>jNet |
      <a href="https://twitter.com/johnrizzo1">@johnrizzo1</a>
  </div>
</footer>
